.homepage-container {
    background-color: #F0F5FA;
    overflow: hidden;
    /* margin-top: 50px; */
    padding-top: 72px;

}

.banner-container {
    margin-top: 12px;
    padding-top: 24px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 28px;
    background-color: white;
}

.banner-text {
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 1px solid rgb(190, 187, 187);
    padding-bottom: 36px;
    height: 500px;
}

.display-picture {
    width: 100%;
    height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.homepage-title {
    margin-top: 72px;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    border-bottom: 4px solid #DE3D3A;
    width: fit-content;
    margin-bottom: 8px;
    margin-left: 130px;
}

/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .home-title-container {
        width: 95%;
        margin: auto;
    }

    .banner-container {
        margin-top: 12px;
        padding-top: 12px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        background-color: white;
    }

    .banner-text {
        border-radius: 16px;
        border: 1px solid rgb(190, 187, 187);
        padding-bottom: 36px;
        height: 400px;
    }

    .display-picture {
        width: 100%;
        height: 200px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

    }
}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {


    .home-title-container {
        width: 90%;
        margin: auto;
    }

    .homepage-title {
        margin-left: 0;
    }

}